# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Database
expenses.db
*.sqlite3

# Node/Frontend
node_modules/
frontend/dist/
frontend/.env
*.log
package-lock.json
# IDE
.vscode/
.idea/

# PyInstaller
build/
dist/
backend/static/
